* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: rgb(254, 247, 227);
  background: linear-gradient(
    146deg,
    rgba(254, 247, 227, 1) 0%,
    rgba(251, 214, 223, 1) 100%
  );
  font-family: "Poppins", sans-serif;
  display: grid;
  place-items: center;
  color: #0c0707;
  text-align: justify;
}

.main_header {
  min-height: 10vh;
  width: 100%;
  display: grid;
  place-items: center;
  gap: 12px;
  font-family: "Bakbak One", cursive;
  grid-template-columns: 1fr;
}

.main_header > nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}

.main_header a {
  text-decoration: none;
  color: #0c0707;
  transition: color 0.3s ease-in-out;
}

.main_header a:hover {
  color: #f499b0;
}

.main_main {
  min-height: 80vh;
  width: 80%;
  display: grid;
  margin-top: 64px;
  margin-bottom: 64px;
  gap: 32px;
  justify-items: center;
}

.flavours {
  width: 100%;
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(auto-fit, minmax(244px, 1fr));
  margin-bottom: 64px;
}

.flavour_type {
  display: grid;
  justify-items: center;
  gap: 32px;
}

.flavour_type > h4 {
  font-family: "Bakbak One", cursive;
}

.flavour_type > p {
  display: none;
}

.flavour_img {
  border: 4px solid #f5a3b8;
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: center bottom;
  border-radius: 50%;
}

.flavour_img:hover {
}

.owners {
  display: grid;
  justify-items: center;
  gap: 32px;
  grid-template-columns: 1fr;
}

.owner_desc {
  display: grid;
  place-items: center;
  gap: 32px;
  grid-template-columns: 1fr;
}

.owners_img {
  border: 4px solid #f5a3b8;
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: center top;
  border-radius: 50%;
}

.main_footer {
  width: 100%;
  font-family: "Bakbak One", cursive;
  min-height: 10vh;
  display: grid;
  grid-template-columns: 1fr;
  align-items: start;
  justify-items: center;
  gap: 32px;
  margin-bottom: 32px;
  text-align: center;
}

ion-icon {
  fill: #0c0707;
  transition: fill ease-in-out 0.3s;
}

ion-icon:hover {
  fill: #f499b0;
  cursor: pointer;
}

.main_footer a {
  text-decoration: none;
  color: #0c0707;
  transition: color ease-in-out 0.3s;
}

.main_footer a:hover {
  color: #f499b0;
}

.footer_socials {
  display: grid;
  gap: 8px;
}

.footer_socials > div {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer_contact {
  display: grid;
  gap: 8px;
}

.footer_contact > div {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
}

.footer_nav {
  display: grid;
  grid-template-columns: 1fr;
  gap: 8px;
}

@media only screen and (min-width: 665px) {
  .flavour_type {
    grid-template-rows: auto 25px 250px;
  }

  .flavour_type > p {
    display: block;
  }
  .main_footer {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 1015px) {
  .main_header {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .owner_desc {
    grid-template-columns: 1fr 1fr;
  }
  .james_img {
    order: 2;
  }
}
